@import "components/icons";

body {
    background-color: red;
    display: block;
    background-color: yellow;
    i{
        font-size: 250px;
        color: red;
        font-weight: 600;
        cursor: pointer;
    }
}