//----------------------------------*\
// SETTINGS
//----------------------------------*/
@charset "UTF-8";
@import "settings";



/*!
	Front-End_Starter
	License: MIT
 	Author: Sławek Król (DevQuayle) < krol.salwek1@gmail.com >
 	Repo: https://github.com/DevQuayle/Front-End_Starter
*/



//----------------------------------*\
// VENDOR
//----------------------------------*/

@import "node_modules/foundation-sites/scss/util/_unit";
@import "node_modules/foundation-sites/_vendor/normalize-scss/sass/_normalize";
@import "node_modules/foundation-sites/scss/util/_breakpoint";
@include normalize();


//----------------------------------*\
// COMPONENTS
//----------------------------------*/

@import "stylesheets/abstracts/**/*";
@import "stylesheets/base/**/*";
@import "stylesheets/layout/**/*";
@import "stylesheets/components/**/*";
@import "stylesheets/pages/**/*";
@import "stylesheets/themes/**/*";