@font-face {
	font-family: "icons";
	src: url("../fonts/icons.eot?7132116e4e428055c132779c2dcdbd32?#iefix") format("embedded-opentype"),
url("../fonts/icons.woff2?7132116e4e428055c132779c2dcdbd32") format("woff2"),
url("../fonts/icons.woff?7132116e4e428055c132779c2dcdbd32") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: icons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-ikona:before {
	content: "\f101";
}
