<html>
<head>
    <base href="{{ tplAssets }}">
    <link rel="stylesheet" href="assets/css/app.css">
</head>
<body>
    <section>
        <i class="icon icon-ikona" ></i>
    </section>
<script src="assets/js/app.js"></script>
</body>
</html>
